<div class="mx-auto w-full max-w-md px-2 py-5 sm:px-0">
  <TabGroup :defaultIndex="menuActive">
    <TabList class="flex space-x-1 rounded-xl bg-sky-800 p-1">
      <Tab
        v-for="(category,i) in categories"
        as="template"
        :key="i"
        v-slot="{ selected }"
      >
        <router-link
            @click="hola()"
          :to="{name:category.to}"
          tag="button"
          :class="[
              'w-full rounded-lg py-2.5 text-sm text-center font-medium leading-5 text-white',
              'ring-white ring-opacity-60 ring-offset-2 ring-offset-blue-400 focus:outline-none focus:ring-2',
              selected
                ? 'bg-white shadow text-sky-700'
                : 'text-blue-100 hover:bg-white/[0.12] hover:text-white',
            ]"
        >
          {{ category.item }}
        </router-link>
      </Tab>
    </TabList>
  </TabGroup>
</div>
